__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.npy
*.npz
*.log
*.DS_Store
.env
*.env
*.egg-info/
.cache/
.vscode/
.git/
.gitignore
Dockerfile
.dockerignore
experiments/
downloaded_model/
Data/ml-1m/sid2genre.npy